.modal-users-container{
  .modal-content{
    .modal-header{
     
        button{      
          position: initial !important;
          color: red !important;
          font-size: 15px;
      }
  }
  }
  
  .modal-users-body{
    display: flex;
    gap: 35px;    //khoảng cách giữa các class con
    flex-wrap: wrap;
    .input-container{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 10px;
    input{

      border-radius: 3px;
      border: 1px solid gray;
      height: 30px;
      outline: none;
      padding: 0 10px;    //khoảng cách text-input với lề
    }
  }
  }
}